{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import
    %,warnings_as_errors
]}.
{deps, [
    {lager, "3.0.2"},
    {mkh_queue, {git, "https://github.com/mijkenator/mkh_queue.git"}}
]}.

{relx, [{release, { fifo_server, 
        "new.version.here" %% relflow-release-version-marker
        },
         [fifo_server,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.
